.auth-page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F1F5F9;
}
.form_img {
    align-self: center;
    width: 50px;
}

.receive_data-form {
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.6) 0 0 20px;
    padding: 20px 50px 20px 50px;
}
.receive_data-form h1 {
    font-size: 25px;
}
.organizes_input {
    display: inline-flex;
    align-items: center;

    border-radius: 10px;
    border: solid 1px grey;

    width: 400px;
    padding: 5px;
    margin: 10px;
}
.organizes_input input {
    flex: 1;
    color: black;
    background: transparent;
    border: none;
    outline: none;
    font-size: 90%;
    width: 100%;
}
.organizes_input img {
    display: flex;
    justify-content: center;
    height: 20px;
    padding: 2px;
    margin-right: 5px;

}

p {
    align-self:baseline;
    margin-left: 10px;
}
.validation-password_div {
    align-self: baseline;
}