/* Styles the main div */
.auth-page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F1F5F9;
}

/* Style the form image and form box*/
.form_img {
    align-self: center;
    width: 50px;
}

.receive_data-form {
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.6) 0 0 20px;
    padding: 10px 30px 10px 30px;
    width: 30%;
}
.receive_data-form h1 {
    font-size: 25px;
}

.apresentation_p{
    text-align: center; 
    align-self: center;
}


/* Aligns the label and input side by side */
.organizes_input {
    display: inline-flex;
    align-items: center;

    border-radius: 10px;
    border: solid 1px grey;

    width: 100%;
    padding: 5px;
    margin: 10px;
}
.organizes_input input {
    flex: 1;
    color: black;
    background: transparent;
    border: none;
    outline: none;
    font-size: 90%;
    width: 100%;
}
.organizes_input img {
    display: flex;
    justify-content: center;
    height: 20px;
    padding: 2px;
    margin-right: 5px;

}
.organizes_input button {
    border: none;
    cursor: pointer;
}


/* Styles paragraphs, validation password texts, button to send data and links to navigation*/
p {
    align-self:baseline;
    font-size: 14px;
}
.validation-password_div {
    align-self: baseline;
}

.send-data_button {
    width: 100%;
    border-radius: 5px;
    border: none;
    background: #2563EB;
    padding: 8px;
    margin: 10px;
    transition: transform 0.7s;
}
button:hover {
    transform: scale(1.05);
}


span {
    margin-top: 5px;
    font-size: 14px;
}

.link {
    color: #2563EB;
}

/* Adapts the site for other devices*/
@media (max-width: 768px) {

    .receive_data-form {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .receive_data-form {
        width: 80%;
    }

    .receive_data-form h1 {
        font-size: 20px;
    }
}

.error {
    color: darkred;
    margin: 5px;
}
input[type="password"]::-ms-reveal {
    display: none;
}